<mat-card>
  <form (submit)="submit()" [formGroup]="pendaftaranForm">
    <div class="grid m-3">
      <div class="col-12">
        <h2>Data Diri</h2>
      </div>
      <div class="col md:col-6">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Nama Depan</mat-label>
          <input matInput type="text" formControlName="firstName"/>
        </mat-form-field>
      </div>
      <div class="col md:col-6">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Nama Belakang</mat-label>
          <input matInput type="text" formControlName="lastName"/>
        </mat-form-field>
      </div>
      <div class="col md:col-6">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>NIK Pembalap</mat-label>
          <input matInput type="text" formControlName="nik"/>
        </mat-form-field>
      </div>
      <div class="col md:col-6">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email"/>
        </mat-form-field>
      </div>
      <div class="col md:col-6">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Telepon</mat-label>
          <input matInput type="text" formControlName="phone"/>
        </mat-form-field>
      </div>
      <div class="col md:col-6">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tempat Lahir</mat-label>
          <input matInput type="text" formControlName="placeOfBirth"/>
        </mat-form-field>
      </div>
      <div class="col md:col-6">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Tanggal Lahir</mat-label>
          <input matInput type="text" formControlName="dateOfBirth"/>
        </mat-form-field>
      </div>
      <div class="hidden md:block md:col-6"></div>
      <div class="col md:col-6">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Nama Team</mat-label>
          <input matInput type="text" formControlName="team"/>
        </mat-form-field>
      </div>
      <div class="col md:col-6">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Kota</mat-label>
          <input matInput type="text" formControlName="city"/>
        </mat-form-field>
      </div>
    </div>
    <div class="grid mx-3">
      <div class="col-12">
        <h2>Kelas Perlombaan</h2>
      </div>
      <div class="col-12">
        <div class="grid">
          <div class="col-12 md:col-6" *ngFor="let kelas of kelasPerlombaan; index as i">
            <mat-checkbox class="example-margin" color="primary" (click)="$event.stopPropagation()" [checked]="selection.isSelected(kelas.id)" (change)="$event ? selection.toggle(kelas.id) : null">{{ kelas?.name }}</mat-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="grid mx-3 mb-3">
      <div class="col-12">
        <button mat-flat-button color="primary" type="submit">Daftar</button>
      </div>
    </div>
  </form>
</mat-card>
